* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400px;
    font-size: 16px;
}

.wrapper {
}
.header {
    background-color: #000000;
}
.container {
    max-width: 82.5rem;
    margin: 0 auto;
}

.header__body {
    padding-top: 20px;
    height: 3.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
}
.logoname {
    padding-left: 8px;
}
.header__menu {

}
.header__list {
    display: flex;
    align-items: center;
}
.header__link {
    margin: 0 0 0 60px;
    font-style: normal;
    font-weight: 400px;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #FFFFFF;
}
.header__link:hover {
    color: #FAC422;
}
.card-button {
    display: flex;
    align-items: center;
}
.cardlogo {
    width: 1.875rem;
    height: 1.3125rem;
    padding-right: 50px;
    background-color: #000000;

}
.button {
    width: 11.125rem;
    height: 3.75rem;
    text-align: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px;
    font-weight: 400px;
    font-size: 1.125rem;
    line-height: 3.75rem;
    color: white;
}
.button:hover {
    background-color: white;
    color: black;
}
.main {

}
.main__background1 {
    width: 100%;
    background: black;
}

.vertical-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.vert-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    color: #80858F;
    transform: rotate(-90deg);
}
.content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.content__body {
}
.content__subtitle {
    display: flex;
    align-items: center;
    font-weight: 400px;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #57B8FF; 
}
.content__title {
    position: relative;
    margin: 24px 0 45px 0;
    font-weight: 400px;
    font-size: 4.5rem;
    line-height: 5.375rem;
    text-transform: capitalize;
    color: #FFFFFF;
}
.line1 {
    position: absolute;
    z-index: 2;
    top: 167px;
    left: 210px;
}
.image-player {
    min-width: 660px;
    min-height: 518px;
}
.text {
    padding-bottom: 53px;
    font-weight: 400px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #999999;
}
.explore-button {
    margin-right: 40px;
    width: 14.6875rem;
    height: 4.375rem;
    background: #57B8FF;
}
.explore-button a {
    font-style: normal;
    font-weight: 400px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-transform: capitalize;
    color: #FFFFFF;
}
.view-button {
    background: none;
}
.view-button a {
    font-style: normal;
    font-weight: 400px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-transform: capitalize;
    color: #FFFFFF;
}
.main__background2 {
    margin: 0 auto;
    background: #FDD04A;
}
.container {
}
.sponsor__title {
    position: relative;
    padding: 128px 0 44px 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #222730;
}
.line2 {
    position: absolute;
    top: 186px;
    left: 550px;
}
.sponsor__subtitle {
    padding-bottom: 41px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #555555;
}
.sponsor-logos__body {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 100px;
}
.logo {
}


 .main__background3 {
    margin: 0 auto;
    background-image: url('../img/background3.png');
    background-size: cover;

}
.emoji-title {
    padding: 136px 0 22px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400px;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #57B8FF;
    text-align: center;
}
.shop__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.shop__subtitle {
    margin: 39px 0 29px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: rgba(223, 223, 223, 0.8);
}

.shop__body {
}
.shop__items {

}
.shop__item {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 0 auto;
    padding-bottom: 100px;
}
.title-and-log {
    margin: 0 100px 0 0;
}
.item-logo {
    width: 29px;
    height: 29px;
}
.item {
    margin: 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item1 {
    background: rgba(255, 255, 255, 0.15);
border-radius: 20px;
        
}
.item2 {
    background: rgba(255, 255, 255, 0.15);
border-radius: 20px;
}
.item3 {
    background: rgba(255, 255, 255, 0.15);
border-radius: 20px;
}
.item4 {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
}

.title {
    padding:35px 0 19px 0;
    font-weight: 400;
    font-size: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.shop__text {
    padding-bottom: 32px;
    width: 470px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(223, 223, 223, 0.8);
}

.background4 {
    background-color: #000000;
}
.new-era {
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
}
.new-era__body {
    display: flex;
    align-items: center;
    font-weight: 400px;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #57B8FF; 
    padding-bottom: 100px;
}

.new-era-text {
  width: 750px;  
}
.image-player2 {
    position: relative;
}
.play-button {
    position: absolute;
    top: 211px;
    left: 181px;
    width: 129px;
    height: 129px;
    background: none;

}
.background5 {
    height: 695px;
    background: #2A313C;
}
.character {
    display: flex;
    
}
.character__title {
    margin-top: 0px;
    margin-bottom: 30px;
    
}
.character__body {
    padding-top: 50px;
    padding-left: 90px;
    display: flex;
    align-items: center;
    font-weight: 400px;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #57B8FF; 
}
.background6 {
    margin: 0 auto;
    background-color: black;
    background-size: cover;

}

.features__body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    z-index: 0;
}
.features__button {
    height: 732px;
    position: absolute;
    background: none;
    z-index: 3;
    align-items: center;
}

.news {
    background-color: #000000;
    width: 100%;
    padding-bottom: 130px;
}
.container {
}
.latest-news-title__body {
    padding-top: 136px;
    padding-bottom: 63px;
    display: grid;
    grid-template-columns: 1fr 13%;
    grid-template-rows: 1fr;
}
.news__subtitle {
    display: flex;
    align-items: center;
    padding-bottom: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57B8FF;
}
.content__subtitle {
}
.news-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.read-more {
    display: grid;
    align-items: end;
}
.read-more-button {
    width: 14.6875rem;
    height: 4.375rem;
    background: #57B8FF;
}
.read-more-button a {
    font-style: normal;
    font-weight: 400px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news__body {
    display: flex;
    justify-content: space-between;

}
.big-news__body {
    display: flex;
    flex-direction: column;

}
.news-date {
    padding: 30px 0 20px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #57B8FF;
}
.big-news-date {
}
.big-news__title{
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news__items {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 30px;
    padding-left: 30px;
}

.news__item {
}
.news-image {

}
.little-news-title {
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.join {
    background-image: url('../img/join-comunity.png');
    background-size: cover;
    height: 100%;
}
.join__body {
    padding: 126px 0 130px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join__title {
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    color: #141820;
}
.join__text1 {
    padding: 51px 0 45px 0;
    width: 846px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #555555;
}
.email__block {

}
.email {
    font-family: 'Orbitron';
    font-style: normal;
    padding-left: 10px;
    width: 445px;
    height: 80px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    box-sizing: border-box;
}
.send__button {
    margin-left: -4px;
    font-family: 'Orbitron';
    font-style: normal;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 0.4px;
    color: white;
    text-align: center;
    background: #57B8FF;
    height: 78px;
    width: 221px;
}
.link__send {
    color: black;
}

.footer__body {
    padding-top: 130px;
    margin: 0 auto;
    background-color: #222730;
    height: 100%;
}

.firstlvl__body {
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    grid-template-rows: 1fr 25% 25%;
}
.infinizai {
}
.footer-text {
    width: 290px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #999999;
}
.bussines__menu {
}
.bussines__list  li{
    padding: 0 0 12px 0;
}
.bussines__lable {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.bussines__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    text-transform: capitalize;
    color: #999999;
}
.pages__menu {
}
.pages__list li{
    padding: 0 0 12px 0;
}
.pages__label{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.pages__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    text-transform: capitalize;
    color: #999999;
}
.line {
    margin: 40px 0;
   display: inline-block;
   width: 100%;
   border: 1px solid #3E3E3E;
}
.thirdlvl__body {
    padding-bottom: 60px;
    align-self: center;

}
.rights {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
} 